<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- %logger means show the full name of the logger -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SS} [%thread] %-4relative %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level><!-- only log INFO/WARN/ERROR -->
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${app.logs.root}/SprintDemo_Log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory><!-- keep at most 7 log files(7days, a week) -->
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd_HH:mm:ss:SS} %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>
    
    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level><!-- only log ERROR -->
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- <username></username>
        <password></password> -->
		<To>herowach@163.com</To>
		<From>herowach@163.com</From>
		<Subject>TESTING: %logger{20} - %m</Subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %thread %mdc %-5level %logger{35} %msg %n</pattern>
		</layout>
		<!-- only one error record in log email -->
		<cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
			<bufferSize>60</bufferSize>
		</cyclicBufferTracker>
	</appender>
    
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.mybatis" level="DEBUG"/>

	<root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="file" /> -->
		<!-- <appender-ref ref="email" /> -->
    </root>

</configuration>