<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd 
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	
	<bean id="destinationManager" class="com.mockrunner.jms.DestinationManager"/>
	
	<bean id="queue1" factory-bean="destinationManager" factory-method="createQueue">
		<constructor-arg index="0" value="demoMockRunnerQueue" />
	</bean>
	
	<bean id="queue2" factory-bean="destinationManager" factory-method="createQueue">
		<constructor-arg index="0" value="demoMockRunnerQueue" />
	</bean>
	
	<bean id="configurationManager" class="com.mockrunner.jms.ConfigurationManager"/>
	
	<bean id="connectionFactory" class="com.mockrunner.mock.jms.MockQueueConnectionFactory">
		<constructor-arg index="0" ref="destinationManager" />
		<constructor-arg index="1" ref="configurationManager" />
	</bean>
	
</beans>
